<html>

<body>
  <div *ngIf="!selected">
    <h1 style="text-align: center;">In Theatres</h1>
    <ng-container *ngFor="let movie of inTheatres">
      <img id="movieCover" (click)="displayMovie(movie)" [src]="movie.imgUrl" width="300" height="395" />
    </ng-container>

    <h1 style="text-align: center;">Coming Soon</h1>
    <ng-container *ngFor="let movie of comingSoon">
      <img id="movieCover" (click)="displayMovie(movie)" [src]="movie.imgUrl" width="300" height="395" />
    </ng-container>
    <button (click)="setCreateMovie()">Add Movie</button>
  </div>

  <div *ngIf="selected && !editMovie && !isCreating">
    <h1 style="text-align: center;">{{selected.title}}</h1>
    <h3 style="text-align: center;"> | R a t i n g : <span>{{selected.rating}} </span> | T y p e :
      <span>{{selected.type}} </span> | L e n g t h : <span>{{selected.length}}</span> | R e l e a s e :
      <span>{{selected.releaseDate}}</span> |</h3>
    <ng-container>
      <img id="movieCover" class="col" [src]="selected.imgUrl" width="300" height="395" />
      <iframe width="800" height="400" src="https://www.youtube.com/embed/8Qn_spdM5Zg">
      </iframe>
    </ng-container>
    <h4 style="text-align: center;" class="col"><span>D e s c r i p t i o n </span><br>{{selected.description}}</h4>
    <h4 style="text-align: center;" class="col"><span>D i r e c t o r </span><br>{{selected.director}}</h4>
    <h4 style="text-align: center;" class="col"><span>C a s t </span><br>{{selected.cast}}</h4>
    <button (click)="displayAll()">Back</button>
    <button (click)="setEditMovie()">Edit</button>
    <button id="delete" (click)="deleteMovie(selected.id)">D e l e t e</button>
  </div>

  <div *ngIf="editMovie">
    <form>
      <h1>Update Movie</h1>
      <label><input class="form-control" type="text" name="task" [(ngModel)]="editMovie.title">T i t l e</label><br><br>
      <label><select class="form-control" name="rating" [(ngModel)]="editMovie.rating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG13">PG13</option>
          <option value="R">R</option>
        </select>R a t i n g</label><br><br>
      <label><input class="form-control" type="number" name="length" for="length" [(ngModel)]="editMovie.length">L e n g t h</label><br><br>
        <label><input class="form-control" type="text" name="type" [(ngModel)]="editMovie.type">T y p e</label><br><br>
         <label><input class="form-control" type="text" name="description" [(ngModel)]="editMovie.description">D e s c r i p t i o n</label><br><br>
         <label><input class="form-control" type="text" name="image" [(ngModel)]="editMovie.imgUrl">I m a g e</label><br><br>
         <label><input class="form-control" type="text" name="trailer" [(ngModel)]="editMovie.trailer">T r a i l e r</label><br><br>
         <label><input class="form-control" type="text" name="cast" [(ngModel)]="editMovie.cast">C a s t</label><br><br>
         <label><input class="form-control" type="text" name="director" [(ngModel)]="editMovie.director">D i r e c t o r</label><br><br>

      <button class="btn btn-warning" (click)="updateMovie(editMovie)">U p d a t e</button>
      <button (click)="editMovie = null">C a n c e l</button>
    </form>
  </div>

  <div *ngIf="isCreating">
    <form>
      <h1>Create Movie</h1>
      <label><input class="form-control" type="text" name="task" [(ngModel)]="createMovie.title">T i t l e</label><br><br>
      <label><select class="form-control" name="rating" [(ngModel)]="createMovie.rating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG13">PG13</option>
          <option value="R">R</option>
        </select>R a t i n g</label><br><br>
      <label><input class="form-control" type="number" name="length" for="length" [(ngModel)]="createMovie.length">L e n g t h</label><br><br>
        <label><input class="form-control" type="text" name="type" [(ngModel)]="createMovie.type">T y p e</label><br><br>
         <label><input class="form-control" type="text" name="description" [(ngModel)]="createMovie.description">D e s c r i p t i o n</label><br><br>
         <label><input class="form-control" type="text" name="image" [(ngModel)]="createMovie.imgUrl">I m a g e</label><br><br>
         <label><input class="form-control" type="text" name="trailer" [(ngModel)]="createMovie.trailer">T r a i l e r</label><br><br>
         <label><input class="form-control" type="text" name="cast" [(ngModel)]="createMovie.cast">C a s t</label><br><br>
         <label><input class="form-control" type="text" name="director" [(ngModel)]="createMovie.director">D i r e c t o r</label><br><br>
         <label><input class="form-control" type="date" name="releaseDate" [(ngModel)]="createMovie.releaseDate">R e l e a s e</label><br><br>

      <button (click)="addMovie(createMovie) && isCreating = false">A d d</button>
      <button (click)="isCreating = false && createMovie = null">C a n c e l</button>
    </form>
  </div>
</body>

</html>
